* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#bgcolor {
    background-color: #e7e7e7;
    padding: 50px;
}


#whole-content {
    margin: 0% 10%;
    padding: 5%;
    background-color: #f9f9f9;

}

/* Navbar styling */

#navbar {
    background-color: #f4f4f4;
    height: 20px;
    display: flex;
    padding: 25px;
    gap: 3%;
    font-size: 17px;
}

.empty {
    width: 50%;
    background-color: #f4f4f4;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.nav-item {
    padding: 12px 22px;
    border: 1px solid #047806;
    background-color: #047806;
    color: #f4f4f4;
    border-radius: 50px;
}

/* "About me" section styling */

.imgbox{
    width: 40%;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.width50per {
    width: 60%;
    padding: 70px 20px 40px 20px;
}

h1 {
    padding-bottom: 20px;
    color: #0c169e;
}

h2 {
    padding-bottom: 25px;
    padding-top: 40px;
}

p {
    line-height: 15pt;
    padding-bottom: 15px;
}

/* Skills section styling */

table, th, td {
    justify-content: left;
    border: 1px solid #0c169e;
    border-collapse: collapse;
    padding: 15px;
    margin: auto;
}

/* Pojects section styling */

.flexbox{
    display: flex;
    gap: 20px;
}

.flexbox1{
     width: 33%;
    padding: 20px;
    border: 1px solid #0c169e;
    border-radius: 30px;
}

.paragraph{
    padding: 20px 10px 10px 10px;
}